body { 
	margin: 0;
	padding: 0;
	background-color: #fcfcfc;
	font-family: Tahoma;
	
}

.textBox  {
	  border: 20 px solid black
      width: auto;
      background: transparent;
      padding:70px 30px;
      border radius:10px; //WHAT?
      margin:20px;
      height:auto;
      position: absolute;
      left: 50%;
      top: 30%;
	  transform: translate(-50%, -50%); 
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

h2{ 
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	text-size: 30px;
	font-family:Tahoma;
	font-weight:bold;
	text-align: center;
}

h3{ 
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	text-size: 18px;
	font-family:sans-serif;
	font-weight: normal;
	text-align: center;
}

.textBox input[type="text"]{
	border: .5px solid black;
	position: relative;
	background: transparent;
	outline: none;
	height: 40px;
	width: 100%;
	font-size: 14px;
	text-align: center;
}

.textBox input[type="submit"] {
  border: none;
  height: 30px;
  background-color: #000080;
  outline: none;
  color: white;
  text-align: center;
  left: 40%;
  position: relative;
  width: 20%;
  font-family:Georgia;
  font-size: 15px;
}



.BMS{
  float:  left;
  margin-left: 10px;
  align: center;
}

.BMS span{
  color: black;
  text-transform: uppercase;
  display: block;
}
.text1{
  font-size: 60px;
  font-weight: 100;
	margin-top: 10px;
}
.text2{
  font-size:10px;
  margin-top: -0.75em;
  letter-spacing: 2px;
  padding: 2px;
  font-weight: bold;
}


.line{
  font-size: 4.5em;
  float: left;
  font-weight: 10;
}
.estd{
float: left;
}
.new{
  padding: 10px;
  color: #707070;
}
.header {
	align: center;
}